<p>main works</p>
<p>joder</p>

<div>{{ 'menu.contact' | translate | async }}</div>
<div>{{ 'main.welcome_message' | translate | async }}</div>

<button (click)="addAlert('alerts.success', AlertType.Success)">Add success alert</button>
<button (click)="addAlert('alerts.warning', AlertType.Warning)">Add warning alert</button>
<button (click)="addAlert('alerts.error', AlertType.Error)">Add error alert</button>
<button (click)="addAlert('alerts.info', AlertType.Info)">Add info alert</button>
<button (click)="addAlert('alerts.sticky', AlertType.Sticky)">Add sticky alert</button>


<lib-alerts></lib-alerts>