<lib-alerts></lib-alerts>
<!-- page data -->
<div>{{ 'nav.contact' }}</div>
<div>{{ 'main.welcome_message' }}</div>
<!-- translation buttons -->
<button (click)="addAlert('alerts.success', AlertType.Success)">Add success alert</button>
<button (click)="addAlert('alerts.warning', AlertType.Warning)">Add warning alert</button>
<button (click)="addAlert('alerts.error', AlertType.Error)">Add error alert</button>
<button (click)="addAlert('alerts.info', AlertType.Info)">Add info alert</button>
<button (click)="addAlert('alerts.sticky', AlertType.Sticky)">Add sticky alert</button>

<!-- scroll indicator -->
<div class="scroll-watcher"></div>
<!-- carta -->
<p>{{ 'main.hello' | translate }}</p>
