@if(categories){ 
  <nav class="categories">
    <p>{{ "menu.category.name" | translate | async }}</p>
    @defer {
      @for( category of categories; track category.id){
        <a [href]="'#' + category.name" class="categories__item" title="{{ getCategoryDescription(category.name) | translate | async  }}">
          {{ getCategoryName(category.name) | translate | async  }}
        </a>
      } 
    } @loading (minimum 1000ms){ 
      Loading data, please wait 
    } 
  </nav>
} @else {
  <p>No data were found, contact with as please</p>
}